header {
  background-color: hsl(122deg 26% 62%);
  text-align: center;
  padding: 20px 0px; 
 }

h1 {
  letter-spacing: 4px;
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
}

hr {
  border: 1px solid black;
  width: 50vw;
  margin: 0 auto;
 }

.green_dotted {
  color: rgb(5, 95, 5);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.tallin {
  text-decoration: line-through;
  text-decoration-color: brown;
}

h2 {
  font-style: italic;
  text-align: center;
  font-weight: 800;
  font-size: large;
  margin: 0px;
}

.prague {
  background-color: rgb(241, 241, 50);
  border-style: dotted;
  max-width: 29vw;
  min-height: 15vh;
  text-indent: 30px;
  padding: 15px;
  line-height: 30px;
  position: relative;
  left: 50px;
  margin-top: 10px;
}

.paris {
  background-color: green;
  border-style: dashed;
  max-width: 29vw;
  min-height: 15vh;
  text-indent: 30px;
  padding: 15px;
  line-height: 30px;
  position: relative;
  left: 870px;
}

.germany {
  background-color: blueviolet;
  border-style: dashed;
  max-width: 29vw;
  min-height: 15vh;
  text-indent: 30px;
  padding: 15px;
  line-height: 30px;
  position: relative;
  left: 280px;
}

.austria {
  background-color: rgb(252, 151, 118);
  border-style: dotted;
  max-width: 29vw;
  min-height: 15vh;
  text-indent: 30px;
  padding: 15px;
  line-height: 30px;
  position: relative;
  left: 750px;
}
