header {
    background-color: hsl(122deg 26% 62%) ;
    text-align: center;
    margin: 20px;
}

table {
    width: 50vw;
    margin: auto;
 }
 
.caption {
    font-weight: 900;
    font-size: x-large;
    letter-spacing: 4px;
}

hr {
    border: 1px solid black;
    }

.green_dotted {
    color:  rgb(5, 95, 5);
    font-weight: bold;
    text-decoration:underline;
    text-decoration-style: dotted;
}

.tallin {
    text-decoration: line-through;
    text-decoration-color:brown ;
}


.heading {
    font-style: italic;
    text-align: center;
    font-weight: 800;
    font-size: large;

}

.prague {
    
    background-color: yellow;
    border-style: dotted;
    height: 150px;
    width: 390px;
    text-indent: 30px;
    padding: 15px;
    line-height: 30px;
    position: relative;
    left: 50px;
    
}
.paris {
    background-color: green;
    border-style: dashed;
    height: 150px;
    width: 390px;
    text-indent: 30px;
    padding: 15px;
    line-height: 30px;
    position: relative;
   left: 870px;
}
.germany {
    background-color:blueviolet;
    border-style: dashed;
    height: 150px;
    width: 390px;
    text-indent: 30px;
    padding: 15px;
    line-height: 30px;
    position: relative;
    left: 250px; 
}
.austria {
    background-color:rgb(252, 151, 118) ;
    border-style: dotted;
    height: 150px;
    width: 390px;
    text-indent: 30px;
    padding: 15px;
    line-height: 30px;
    position: relative;
    left: 700px; 

    
