header {
  background-color: #8fbc8f;
  text-align: center;
  padding: 20px 0px;
}

h1 {
  letter-spacing: 6px;
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
}

hr {
  border: 2px solid #000000;
  width: 62vw;
  margin: 0 auto;
}

.green_dotted {
  color: rgb(5, 95, 5);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.tallin {
  text-decoration: line-through;
  text-decoration-color: #863315;
}

h2 {
  font-style: italic;
  text-align: center;
  font-weight: 800;
  font-size: large;
  margin: 0px;
}

.block_size {
  position: relative;
  max-width: 29vw;
  text-indent: 30px;
  line-height: 30px;
  padding: 15px;
}

.border_dash {
  border-style: dashed;
}

.border_dotted {
  border-style: dotted;
}

.prague {
  background-color: #ffff00;
  left: 50px;
  margin-top: 10px;
}

.paris {
  background-color: #9acd32;
  left: 870px;
}

.germany {
  background-color: #9370db;
  left: 280px;
}

.austria {
  background-color: #fa8072;
  left: 750px;
}
